body {
    background-color: #FFF9F2;
    margin: auto;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    width: 62.5%;
    padding-top: 200px;
    padding-bottom: 200px;
    grid-gap: 30px;

}

.one-third {
    grid-column: 3 / span 1;
}

.one-third-alt {
    grid-column: 1 / span 1;
}


.two-third {
    grid-column: 1 / span 2;

}

.two-third-alt {
    grid-column: 2 / span 2;
}

.full {
    grid-column: 1 / span 3;
}

section {
    color: #1D1938;
}

#first {}

#second {
    background-color: #1D1938;
    /*    padding: 160px 0px 160px 0px;*/
}

#third {}

#fourth {}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3.2em;
    font-weight: 600;
    line-height: 1.4em;
}

#h1alt {
    color: #FF9169;
}

#h1section3 {
    margin-top: 100px;
}


h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.24em;
    font-weight: 400;
    line-height: 1.8em;
}

#h2alt {
    color: #FFF9F2;
}

#h2Purple {
    color: #844896;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.24em;
    font-weight: 600;
    letter-spacing: 0.25px;
    line-height: 1.8em;
    margin-bottom: 0px;
    color: #1D1938;
}

p {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.16em;
    font-weight: 400;
    line-height: 1.8em;
    margin-top: 0;
}


#button2 {
    background-color: #FF9169;
    font-size: 1.25em;
    color: #1D1938;
}

button {
    padding: 1rem 3rem;
    border-radius: 25px 25px 0px 0px;
    background-color: #E1B9ED;
    border: 0px solid transparent;
    font-size: 24px;
    margin-top: 3rem;
    width: 375px;
    height: 70px;
    letter-spacing: .75px;
}

.nested-grid {
    display: grid;
    /*    grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-rows: 1fr 1fr;

}

.nested-grid-photo {
    grid-column: span 1;
    background-color: #844896;
    height: 200px;
    width: 100%;

}

.steps-description {}

#photobox {
    /*
    background-image: url(mockup1.png);
    background-position: center;
    background-size: cover;
    width: 100%;





*/
    margin-top: -100px;
    margin-left: -120px;

    /*    background-color: aquamarine;*/
}

img {
    width: 100%;

}

#photobox2 {
    background-color: #844896;
    margin-top: 100px;
}




.citeBox {
    background-color: #1D1938;
    color: #FF9169;
    margin: auto;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.16em;
    font-weight: 300;
    line-height: 1.8em;
    padding-bottom: 10px;

}




.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 62.5%;
    align-items: baseline;
    align-content: center;
    margin: auto;
}

.header h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 0;
    margin-bottom: 0;
    color: #FF9169;
}

.header .cart {
    font-family: 'Poppins', sans-serif;
    color: #FF9169;
    font-size: 22px;
}

.header .cart .items {
    font-family: 'Poppins', sans-serif;
    background-color: #FF9169;
    color: #FFF9F2;
    font-size: 22px;
    padding: 0px 10px;
    margin-left: 10px;
}
